* {
	box-sizing: border-box;
}


body {
	background-color: #ffe2b0;
}
header {
	text-align: center;
	margin-bottom: 20px;
}
ul {
	list-style-type: none;
	text-align: center;
	padding: 0px;
}
li {
	display: inline;
	margin-right: 100px;
}
a {
	color: black;
	text-decoration: none;
	font-size: 18px;
}
nav {
	margin-bottom: 20px;
}

li:last-child {
	margin-right: 0px;
}
.section-about {
	height: 640px;
	background: url(../img/01-Картинка-фона.jpg) center/cover no-repeat;
	position: relative;
	margin-bottom: 20px;
}
.section-about__block {
	width: 420px;
	height: 190px;
	position: absolute;
	background: linear-gradient(180deg, rgba(244, 213, 178, 0.8) 0%, rgba(234,156,65,0.8) 100%);
	top: 54%;
	left: 50%;
	padding-top: 15px;
}
.section-about__block__border {
	width: 390px;
	height: 160px;
	border: 1px solid black;
	margin: 0 auto;
	padding: 17px 0 0 28px;
	text-align: left;

}
.section-about__title {
	margin: 0;
	font-size: 36px;
	margin-bottom: 9px;
}
.section-about__text {
	font-size: 12px;
	margin: 0;
}
.section-discription__icon-box {
	text-align: center;
}

.section-discription__icon-box img{
	margin-right: 76px;
	margin-bottom: 20px;
}
.section-discription__icon-box img:last-child {
	margin-right: 0;
}
.section-discription__title {
	font-size: 96px;
	margin: 0;
	text-align: center;
}
.red{
	color: #f15b40;
}
.section-discription__text{
	margin: 0;
	text-align: center;
	font-size: 18px;
	width: 1000px;
	margin: 0 auto;
}